$bg-color: silver;

div {
    width: 100px;
    height: 100px;
    background-color: $bg-color;
    margin: 5px;
    
    &#div1 {
        background-color: red;
    }
    
    &.yellow {
        background-color: yellow;
    }
    
    &:nth-child(2n+1) {
        background-color: blue;
    }

}

#div1 {
    background-color: green;
}
